.header__number_link {
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    padding: 0;
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
    width: 240px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    background: #1130df;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.header__number_link:hover {
    background: #1130df;
    box-shadow: 0 15px 20px rgba(17, 2, 104, 0.4);
    color: white;
    transform: translateY(-5px);
  }