.main__title {
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    padding: 0;
    margin-left: 40px;
    margin-top: 170px;
    text-align: center;
    color: #b6aad1;
}