.adress__wrapper {
    max-width: 1200px;
    padding: 50px 40px 50px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

@media screen and (max-width: 940px) {
    .adress__wrapper {
        display: grid;
        gap: 50px;
    }
  } 

  @media screen and (max-width: 600px) {
    .adress__wrapper {
        padding: 50px 10px 50px;
    }
  } 