.main {
    background: linear-gradient(135deg, rgba(107,184,255,1) 14%, rgba(107,184,255,1) 24%, rgba(82,167,255,1) 39%, rgba(51,146,255,1) 58%, rgba(51,146,255,1) 70%);
    background-repeat: no-repeat; 
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .main {
        max-width: 600px;
        height: 100%;
        background-attachment: scroll;
    }
  }  