.main {
    max-width: 1444px;
    height: 1000px;
    background: url('../../images/photo1.jpg') 50%/cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .main {
        max-width: 600px;
        height: 100%;
        background-attachment: scroll;
    }
  }  