.cost__title {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 70px;
    padding: 0;
    text-align: center;
    padding-bottom: 75px;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 1000px) {
    .cost__title {
        font-size: 42px;
        line-height: 50px;
        padding-bottom: 50px;
    }
  }  

  @media screen and (max-width: 760px) {
    .cost__title {
        font-size: 32px;
        line-height: 40px;
        padding-bottom: 30px;
    }
  }  