.header {
    background-color: rgba(243, 239, 234, 0.5);
    -webkit-box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.5);
    height: 90px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}