.logo {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .logo {
        width: 100px;
        height: 100px;
    }
  } 
  
  @media screen and (max-width: 920px) {
    .logo {
        width: 100px;
        height: 100px;
    }
  } 