.about__wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
}

@media screen and (max-width: 1000px) {
    .about__wrapper {
        padding-top: 100px;
        padding-bottom: 100px;
    }
  }  

  @media screen and (max-width: 760px) {
    .about__wrapper {
        padding-top: 50px;
        padding-bottom: 50px;
    }
  }  