.benefits__flex {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

@media screen and (max-width: 1000px) {
    .benefits__flex {
        display: grid;
        justify-content: center;
        gap: 40px;
    }
  }  

  @media screen and (max-width: 760px) {
    .benefits__flex {
        gap: 40px;
    }
  }  