.watsapp__wrapper {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 800px) {
  .watsapp__wrapper {
      
      padding-top: 0;
  }
}  

@media screen and (max-width: 600px) {
  .watsapp__wrapper {
      display: none;
  }
}  