.bank__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 75px;
    padding-left: 40px;
    padding-right: 40px;
}


@media screen and (max-width: 600px) {
    .bank__wrapper {
        padding-bottom: 0;
    }
  }  