.quastions__title {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    padding: 0;
    text-align: center;
    padding-bottom: 75px;
    padding-top: 75px;
}

@media screen and (max-width: 1180px) {
    .quastions__title {
        font-size: 40px;
        line-height: 45px;
        padding-bottom: 55px;
        padding-top: 55px;
    }
  }  

  @media screen and (max-width: 980px) {
    .quastions__title {
        font-size: 30px;
        line-height: 35px;
        padding-bottom: 45px;
        padding-top: 25px;
  }  
  }

  @media screen and (max-width: 600px) {
    .quastions__title {
        font-size: 30px;
        line-height: 30px;
        padding-bottom: 45px;
        padding-top: 15px;
        margin: 0;
  }  
}